.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display:  flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    height: 60px;
    width: 100%;
    background-color: gold;
    color: white;
}

.container img {
    height: 100%;
}

form {
    background-color: gold;
    border-radius: 400cap;
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: auto;
    margin-top: 60px;
    margin-left: 60px
}
.card {
    display: flexbox;
    border: solid 10px gold;
    position: relative;
    width: 400px;
    margin-top: 20px;
    margin-left: -30px;
    padding: 30px 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.377);
    border-radius: 20px;
    background: radial-gradient(#000);
     
  }